@using SweetMagic.Helpers
@using SweetMagic.Models
@inject BoloService BoloService
@inject NavigationManager NavigationManager

<h3>Qual o título ou nome para seu bolo?</h3>
<div class="reviewContainer">
    <div class="imgContainer">
        <img src="assets/images/designer/finishedCake.png" alt="Ilustração de Bolo" class="resumoImg" />
    </div>
    <div class="resumo-input-container">
        <input type="text" class="inputCampo" @bind="BoloService.BoloAtual.titulo" placeholder="Nome do seu bolo" />
    </div>
    <div class="resumoRolante">
        <h4>Resumo do Bolo:</h4>
        <p><strong>Título: </strong> @BoloService.BoloAtual.titulo </p>
        <p><strong>Tipo: </strong> @BoloService.BoloAtual.tipo </p>
        <p><strong>Peso aproximado: </strong> @BoloService.BoloAtual.peso KG. ± 500 g</p>
        <h4>Camadas:</h4>
        @if (BoloService.BoloAtual.camadas != null && BoloService.BoloAtual.camadas.Any()) {
            <ul>
                @foreach (var camada in BoloService.BoloAtual.camadas.OrderBy(c => c.ordem)) {
                    <li>
                        Camada @camada.ordem: Massa - @camada.saborMassa, Recheio - @camada.saborRecheio
                    </li>
                }
            </ul>
        }
        @if (BoloService.BoloAtual.cobertura != null && !string.IsNullOrEmpty(BoloService.BoloAtual.cobertura.tipo)) {
            <p><strong>Tipo de cobertura:</strong> @BoloService.BoloAtual.cobertura.tipo</p>
            @if (BoloService.BoloAtual.cobertura.tipo == "Chantilly" || BoloService.BoloAtual.cobertura.tipo == "Chantininho") {
                <p><strong>Topo de Papel de Arroz:</strong> @(BoloService.BoloAtual.cobertura.papelArroz ? "Sim" : "Não")</p>
                @if (BoloService.BoloAtual.cobertura.papelArroz) {
                    <p><strong>Tema do Papel de Arroz e paleta de cores:</strong> @BoloService.BoloAtual.cobertura.tema</p>
                }
                else {
                    <p><strong>Cor/Paleta da cobertura:</strong> @BoloService.BoloAtual.cobertura.tema</p>
                }
            }
            else if (BoloService.BoloAtual.cobertura.tipo == "Pasta Americana") {
                <p><strong>Tema:</strong> @BoloService.BoloAtual.cobertura.tema</p>
            }
        }
        <p><strong>Data de Entrega:</strong> @BoloService.BoloAtual.dataEntrega.ToShortDateString()</p>
    </div>
    <button class="btn"
            @onclick="ProntoClicado"
    disabled ="@(!TituloPreenchido)">Pronto!</button>
</div>
@code {
    [CascadingParameter]
    public Designer designer { get; set; }

    private bool TituloPreenchido => !string.IsNullOrWhiteSpace(BoloService.BoloAtual.titulo);

    private void ProntoClicado() {

        if (TituloPreenchido) {

            designer.SalvarBolo();
        }
        else {
            Console.WriteLine("Por favor, preencha o título do bolo.");
        }
    }
}
